.array-container {
  position: absolute;
  left: 100px;
}

.array-bar {
  width: 10px;
  display: inline-block;
  margin: 0 1px;
  /* color: blue; */
}

.buttons {
  text-align: center;
}

.buttons > button {
  margin: 1%;
}
